

.info-atraccion {    
    color: #fff;
    padding: 5px 10px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
    grid-column: 3;
    grid-row: 1;
    
}


.moderada{
    background-color: royalblue;
}
.familiar{
    background-color: green;

}
.intensa{
    background-color: red;
}



.info-adicional div{
    margin-right: 20px;
    border: black 1px solid;
    border-radius: 15px;
    padding: 20px;
    background-color: #f2f2f2;
    text-align: center;  
       
}

