a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
   
}




@media screen and (min-width: 100px){
    .medios_contacto{
        width: 32%;
        float:left;
    }

    .sugerencias{
        width: 100%;
        float:right;
    }


}

.titulo{
   grid-column: span;
    grid-row: 1;

}
.medios_contacto{
    grid-column: 1;
    grid-row:2; 
    width: 90%;  
    height: 100%;

}

.sugerencias{
    grid-column: 2;
    grid-row:2;
    width: 96%;  
    height: 100%;

}
.ubicacion{
    grid-column: 1/3;
    grid-row: 3;
    text-align: center;  
    padding: 20px;   
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    grid-template-rows: auto auto;
    grid-gap: 20px;   
    align-items: center;
}

main img{
    border-radius: 3px;    
    height: auto;
    width: 95%;
}


h2{
    text-align: left;
}


label{
    display: inline-block;
}



textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 20px; /* Margen inferior */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde sutil */
    resize: none; /* No redimensionar */
}

input[type="text"] {
    width: 98%;
    padding: 10px;
    margin-bottom: 20px; /* Margen inferior */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde sutil */
}

input[type="submit"] {
    background-color: #102334; /* Color de fondo azul */
    color: white; /* Texto en color blanco */
    border: none; /* Sin bordes */
    padding: 10px;
    cursor: pointer; /* Cursor tipo puntero */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
    text-align: center;
}
.boton {
    margin-top: 10px;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Color de fondo más claro al pasar el mouse */
}

