
main article {
  background-color: #9d99f7;
  position: relative;
  padding-bottom: 30px;
}
.detalles-restaurante {
  display: none;
  padding: 15px;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  
  position: relative; /* O `absolute` dependiendo de tu layout */
  top: 25px;
  z-index: 1000; /* Un valor alto para asegurar que se muestre por encima de otros elementos */
  /* Otros estilos como background, padding, etc., según sea necesario */
}



