
.carrusel {
    position: relative;
    max-width: 400px; /* Ancho del carrusel */
    margin: auto;
    overflow: hidden;
}

.carruselContenedorImagenes img {
    width: 100%;
    display: none; /* Ocultar todas las imágenes inicialmente */
}

.botonCarrusel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
}

.botonCarruselIzquierda {
    left: 0;
}

.botonCarruselDerecha {
    right: 0;
}


main .principal{
    background-image: url("../images/background_index.jpg");
    background-size: cover;
}

main .contenedor{
    margin: 130px;
}






body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Sistema de Cuadrícula Flexible */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre elementos */
    padding: 20px;
    
    
}




