/* estiloFAQ.css */


.preguntas{
    column-count: 3;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

main h1 {
    column-count: 1;
    margin-bottom: 20px;
}

main ul {
    list-style: none;
    padding: 0;
    

   
}

main ul li {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}
main ul li h2 {
    color: #333;
    margin: 0 0 5px 0;
}

main ul li p {
    margin: 0;
}

@media screen and (max-width: 1644px){
    .preguntas{
        column-count: 2;
    }
}


@media screen and (max-width: 1244px){
    .preguntas{
        column-count: 1;
    }
}




