
main {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;   
    grid-template-rows: auto auto ;
    grid-gap: 10px;   
    
}



main article{
    margin-left: 0%;
    margin-right: 0%;
    max-width: 85%;
}




main h2{
    grid-column: 1/span 3;
    grid-row: 1 ;

}

.info-atraccion {    
    color: #fff;
    padding: 5px 10px;
    margin-top: 20px;
    margin-left:auto;
    display: inline-block;
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
    grid-column: 2;
    grid-row: 1;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    
}
.zona{
    
    border-top-left-radius:0 ;
    border-bottom-left-radius: 0;
}


.moderada{
    background-color: royalblue;
}
.familiar{
    background-color: green;

}
.intensa{
    background-color: red;
}



.info-adicional div{
    margin-right: 20px;
    border: black 1px solid;
    border-radius: 15px;
    padding: 20px;
    background-color: #f2f2f2;
    text-align: center;  
       
}

.atracciones {
    grid-column: 1 /3 ;
    padding: 0px;
    margin: 0px;
    
}

.datos-atraccion{
    display: flex;
    justify-content: right;
    padding-right: 0%;
    margin-bottom: 20px;
    grid-column: 2;
    grid-row: 1;
    
}
#sidebar {
    grid-column: 3; /* Empieza desde la segunda columna */
    grid-row: 2; /* Empieza desde la segunda fila */
    background-color: #f9f9f9;   
    padding: 20px;    
    border-radius: 10px;
    margin-top: none;
    height: fit-content;

}

#sidebar h2 {
    color: #333;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: 10px;
}

.oculto {
    display: none; /* Oculta el elemento */
    height: 0; /* Reduce la altura a cero */
    margin-bottom: 0; /* Elimina el margen inferior */
    padding: 0; /* Elimina el relleno */
}

textarea {
    width: 98%;
    height: 20px;
    padding: 10px;
    margin-bottom: 20px; /* Margen inferior */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde sutil */
    resize: none; /* No redimensionar */
}



@media screen and (max-width: 1224px){
    article .info-adicional{
        display: none;    
    }
    article .datos-atraccion{
        grid-column: 1/span 3;
        grid-row: 3;  
        justify-content: left ;
        
    }
    article p{
        overflow: hidden;
        text-overflow: ellipsis;
        
    }
    .zona{
        margin-left: 0;
        margin-right: 100%;
    }
}
@media screen and (max-width: 768px) {
    main {
        grid-template-columns: 10fr; /* Una sola columna */
        grid-template-rows: auto auto auto; /* Tres filas */
        align-items: center;
    }
    h1{
        grid-row: 1;
    }
    .atracciones {
        grid-row: 3; 
    }
    #sidebar {
        display: none;
        grid-row: 2; 
        grid-template-rows: auto   auto;
    }
    #sidebar ul {
        display: flex;
    }
    article{
        display: flex;
        flex-direction: column;
        
        
    }
    article p{
        display: none;
    }
    article .info-adicional{
        display: none;
    }   
   
    article img{

        
       height: 100%;
       margin:none;
        padding: none;  
       object-fit: cover;
       border-top-right-radius: 0;
       border-bottom-left-radius: 3%;   

    }
    .datos-atraccion{
        display: none;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin-right: auto;
        grid-column: 1;
        grid-row: 2;
        height: fit-content;
        width: fit-content;
        border: solid black;
    }

    article h2{
        
        border: #333 solid  ;
    }
    
    
}