main article{
    display: grid;
    grid-template-columns: 5fr 10fr 1fr;
    grid-template-rows: auto auto auto;       
    padding: 0%;
    padding-left: 1%; 
    margin-bottom: 20px;  
    margin-left: auto;
    margin-right: auto; 
    height: fit-content;
    max-width: 80%;   

   
}  

article h2{
    grid-column: 1;
    grid-row: 1 ;
}

article img{
    grid-row: 1 / 5;
    grid-column: 4;      
    height: 100%;
    width: 300px;
    object-fit: cover;
    margin:none;
    padding: none;
    
}
article p{
    grid-column: 1 / 4;
    grid-row: 2;
    text-align: justify;
    margin: 30px;
    line-height: 1.5;

}

.info-adicional{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;    
    grid-column: 1 / 4;
    grid-row: 3;
    width: fit-content;
    margin-bottom: 10px;   
    
}

article button{
    grid-column: 3;
    grid-row: 3;
    height: 50px;
}

.zona{
    margin-top: 20px;
    grid-column: 2 ;
    grid-row: 1;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: left;
    width: fit-content;
    height: fit-content;    
}

.hollywood {
    background-color: gold;
    color: #000;

}

.amazonas {
    background-color: darkolivegreen;
    color: #fff;

}

.fantasia{
    background-color: darkorchid;
    color: #fff;

}

.ficcion {
    background-color: darkslategray;
    color: #fff;
}

.medieval {
    background-color: darkred;
    color: #fff;
}