main article {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    background-color: #f6f6f6;
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 3px;
}

main p{
   
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    line-height: 1.5;

}


.espectaculos,
.alojamientos,
.restaurantes {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(400px,100%), 1fr));
    gap: 3rem;
}

article h2 {
    margin: 20px;
}

article img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    margin: 0px;
    padding: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0%;
    z-index: 10;

}

article p {
    text-align: center;
    margin: 30px;
    line-height: 1.5;
    z-index: 10;


}

.info-adicional {

    margin: 20px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    margin-bottom: 90px;
}

article button {
    width: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;

}

/*RESERVAS*/
main .reserva {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main .reserva label {
    margin: 10px;
}

main .reserva button {
    margin: 10px;
    height: 40px;
}

@media screen and (max-width: 1100px) {
    main .reserva {
        flex-direction: column;
    }
}

@media screen and (max-width:760px){
    article p{
        font-size: small;
    }
}

@media screen and (max-width:300px){
    article p{
    display: none;
    }
}