
main article {
  background-color: #f6f6f6;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 100px;
  flex: 1 0 21%; 
  


}

.detalles-restaurante {
  position: absolute;
  top: 0; /* Ajustado para empezar en la parte superior del contenedor */
  bottom: 60px; /* Altura del botón + algún espacio */
  left: 0;
  width: 100%; /* Asegura que el ancho llene el contenedor */
  padding: 15px;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;  
  z-index: 100000; /* Para asegurarse de que se muestre por encima de otros elementos */
  overflow: auto; /* Permite desplazamiento si el contenido es demasiado largo */
}
