p {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}




article img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-top-right-radius:0px ;
    border-bottom-left-radius: 3px;
    
}


.mapa img {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}

.mapa {
    padding-bottom: 20px;
}

.contenedor {
    width: 60%;
    height: 100%;
    clear: both;
    margin: 0 auto;
    border: none;

}

.fila {
    clear: both;
    padding: 20px;
}

article h2 {
    margin: 20px;
}

article{
    margin: 20px;
    padding-top: 20px;
}

.col1 {

   
    width: 43%;
    float: left;
}


.col2 {
    
    width: 43%;
    float: right;
}

@media screen and (max-width: 1300px) {

    .col1,
    .col2 {
        width: 100%;
        float: none;
    }

}

@media screen and (max-width: 750px) {

    .col1,
    .col2 {
        width: 100%;
        float: none;
        clear: both;
        margin-left: auto;
        margin-right: auto;
        
    }

    .contenedor{
        width: 100%;
        padding: 0%;
        gap: 20px;
    }
    p {
        font-size: xx-small;
    }

    .mapa img{
        width: 100%;

    }
    .mapa{
        padding-bottom: 0%;
    }


}