
main article {
    background-color: aliceblue ;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
    border-radius: 5px;
}

.info-atraccion {
    background-color: #fd6d68;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 3px;
}