/* Estilo básico para el cuerpo de la página */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #242424;
}

/* Estilo para el encabezado */
header {
    background: #ffffff;
    padding: 20px 0;
    text-align: center;
}

/* Estilo para la imagen del logo */
header img {
    max-width: 100%;
    height: auto;
}

/* Estilo para la navegación */
nav {
    background: #102334;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo para el contenido principal */
main {
    padding: 20px;
    background: aliceblue;
    color: #242424;
}

main section{
    margin-bottom: 20px;
}



main article{ /*Esto es para recuadros, cambiar si es necesario*/
    background:aliceblue;
    border: 1px solid #e7e7e7;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.tarifa { /*recuadro para las tarifas*/
    background:aliceblue;
    border: 1px solid #e7e7e7;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
}

/* Estilo para el pie de página */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilo para los enlaces del pie de página */
footer a {
    color: #fff;
    text-decoration: none;
}
/* Estilo para la información legal en el pie de página */
footer .info-legal {
    margin-left: 10px;
    text-align: left;
    background: #333;
    color: #aaa;
    padding: 10px 0;
    font-size: 0.8em;
}

/* Estilo para los íconos de redes sociales */
.social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    margin: 0 10px; 
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
.social-icons i{
    margin: 0 5px; 
    display: inline-block;
   
}

/* Estilo base para la tabla */
.tabla-horarios {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-family: sans-serif;
    min-width: 400px;
  
    
  }
  
.tabla-horarios thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  


/* Estilo base para el botón */
button {
    background-color: #102334; /* Color de fondo azul */
    border: none; /* Sin bordes */
    color: white; /* Texto en color blanco */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Texto centrado */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Tipo de display */
    font-size: 16px; /* Tamaño de fuente */
    margin: 4px 2px; /* Margen exterior */
    margin-top: 15px;
    transition: all 0.3s; /* Transición suave para todas las propiedades */
    cursor: pointer; /* Cursor tipo puntero */
    border-radius: 25px; /* Bordes redondeados */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Sombra suave */
  }
  
  /* Estilo para el botón al pasar el mouse (hover) */
button:hover {
    background-color: #0056b3; /* Color de fondo más oscuro */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Sombra más pronunciada */
  }
  
  /* Estilo para el botón al ser presionado (active) */
button:active {
    background-color: #004094; /* Color de fondo aún más oscuro */
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2); /* Sombra ajustada */
  }



  label {
    display: block; /* Hace que la etiqueta aparezca en una nueva línea */
    margin-bottom: 5px; /* Margen inferior para separar del input */
    font-weight: bold; /* Texto en negrita */
}

input[type="text"] {
    width: 100%; /* Ancho completo */
    padding: 10px;
    margin-bottom: 20px; /* Margen inferior */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde sutil */
}

input[type="submit"] {
    background-color: #102334; /* Color de fondo azul */
    color: white; /* Texto en color blanco */
    border: none; /* Sin bordes */
    padding: 10px;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Color de fondo más claro al pasar el mouse */
}

/* Estilo específico para el campo de sugerencias con mayor altura */
#sugerencias {
    height: 100px; /* Altura ajustada */
    resize: vertical; /* Permite al usuario ajustar la altura verticalmente */
}
  
  
  
